<div class="container" style="margin-top: 25px;">
  <h4>Signup</h4>
</div>
<div class="container">
<form method="POST" action='/signup'>
    <input type="text" id="email" name="email" placeholder="Email">
    <input type="password" id="password" name="password" placeholder="Password">
    <input id="submit" type="submit" value="Sign Up">
</form> 
</div>