<h2>Recipients</h2>
<div>
<% if @user.recipients.empty? %>
    <a href="/recipients/new">Create a new recipient</a>
<% else %>
<% @user.recipients.each do |recipient| %>
    <p><a href="/recipients/<%= recipient.id %>"><%= recipient.name %></a></p>    
<% end %> 
<form action="/recipients/new" style="display:inline-block">
<input action="/login" type="submit" value="Create New Recipient"/>
</form>   
</div>
<% end %> 