<h2>Gifts</h2>
<% @gifts.each do |gift| %>
    <a href="/gifts/<%= gift.id %>"><%= gift.name %></a><br>
<% end %><br>
<form action="/gifts/new" style="display:inline-block">
<input action="/login" type="submit" value=" Create New Gift "/>
</form>