<b>
<br>
Welcome to PresentPlanner!<br><br>
A tool to remember gift ideas as you see them so you don't forget what to get your friends and family.<br><br>

<div> 
    <form action="/login" style="display:inline-block">
    <input action="/login" type="submit" value="Log In"/>
    </form>       
    <form action="/signup" style="display:inline-block">
    <input type="submit" value="Sign Up"/>
    </form>
</div>

</b>