<div class="container" style="margin-top: 25px;">
<h4>Welcome to PresentPlanner!</h4><br>
A tool to remember gift ideas as you see them so you don't forget what to get your friends and family.<br><br>
</div>

<div class="container"> 
    <form action="/login" style="display:inline-block">
    <input action="/login" type="submit" value="Log In"/>
    </form>       
    <form action="/signup" style="display:inline-block">
    <input type="submit" value="Sign Up"/>
    </form>
</div>

</div>