<div class="jumbotron">
    <h1 class="display-4">Welcome!</h1>
    <p class="lead">PresentPlanner is a basic Sinatra app to help remember gift ideas as you think of them them so you don't forget what to give your friends and family.</p>
    <hr class="my-4">
    <p>Log in or sign up to start planning.</p>
    <a class="btn btn-primary btn-lg" href="/signup" role="button">Sign Up</a>
    <a class="btn btn-primary btn-lg" href="/login" role="button">Log In</a>
</div>