<h2>Welcome to PresentPlanner!</h2>

<b>
A tool to remember gift ideas as you see them so you don't forget what to get your friends and family.<br><br>
<a href="/login">Login</a> <a href="/register">Register</a>
</b>