<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>PresentPlanner</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <div class="wrapper">
        <img src="https://img.icons8.com/fluent/48/000000/gift--v2.png"/>
        <%= yield %>

      <footer class="branding">
        <p style="text-align:left;">
          <small>&copy; 2020 <strong>PresentPlanner</strong></small>
          <small><a href="https://icons8.com/icon/9M46Gd8aUIUY/gift">Gift icon by Icons8</a></small>
        <% if @skip_login_logout_footer %>    
          <% yield %>  
        <% elsif Helpers.is_logged_in?(session) %>
          <span style="float:right;"><small>Welcome <%= Helpers.current_user(session).email %></small></span><br>
          <span style="float:right;"><small><a href="/logout">Log Out</a></small></span>
        <% else %>
          <span style="float:right;"><small><a href="/login">Log In</a></small></span>
        <% end %>
      </footer>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
  </body>
</html>
